body {
    font-family: Arial, sans-serif;
    background-image: url('st.jpg');
    background-size: cover;
    background-position: center 60%; 
    background-repeat: no-repeat;
    color: #fffafa;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.638);
}

.container {
    background-color: rgba(255, 7, 7, 0.419);
    padding: 1px;
    border-radius: 30px;
    max-width: 590px;
    max-lines: 400px;
    align-items: center;
    
}

h1 {
    color: #faeadd;
    margin-bottom: 40px;
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
    align-items: center;
    
}

.background-video {
    width: 900%; 
    height: 900px; 
    border: 2px solid #f39c12;
    border-radius: 5px;
    opacity: 30; 
    margin-top: 40px; /
}

p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
}